.fadeSlider {
  position: relative;
}

.fadeSlider-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.fadeSlider-row {
  display: none;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  z-index: 1;

  &:nth-child(1) {
    display: block;
  }
}

.fadeSlider-photo {
  border-radius: 20px;
  display: inline;
}

.fadeSlider-shift {
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  z-index: 3;
}

.fadeSlider-shiftColumn {
  width: 25px;

  &._right {
    margin-left: auto;
  }
}

.fadeSlider-shiftButton {
  background: inherit;
  border: solid 1px white;
  border-radius: 25px;
  height: 25px;
  display: block;
  position: relative;
  transition: all 0.4s ease;
  width: 25px;

  &::after,
  &::before {
    background-color: white;
    content: "";
    height: 2px;
    position: absolute;
    width: 7px;
  }

  &::after {
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    top: 50%;
    left: 50%;
  }

  &::before {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    top: 50%;
    left: 50%;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);

    &::after,
    &::before {
      width: 7px;
    }
  }

  &._hidden {
    display: none;
    visibility: hidden;
  }

  &._left {
    &::after,
    &::before {
      transform-origin: left;
    }
  }

  &._right {
    &::after,
    &::before {
      transform-origin: right;
    }
  }
}

.fadeSlider-thumbnail {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fadeSlider-thumbnail-anchor {
  appearance: none;
  -webkit-appearance: none;/*Google Chrome/Safari対応*/
  -moz-appearance: none;/*Firefox対応*/
  -o-appearance: none;/*Opera対応*/
  border-radius: 5px;
  border: solid 4px transparent;
  display: inline-block;
  margin: 5px;
  overflow: hidden;
  padding: 0;
  position: relative;
  transition: opacity 0.4s ease;

  &:hover,
  &._current {
    opacity: 0.36;
  }

  &._current {
    pointer-events: none;
  }

  &:focus {
    border-color: #afc0e9;
  }

  &::after {
    content: none;
  }
}

.fadeSlider-thumbnail-image {
  pointer-events: none;
}